{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "NODE_ENV": true,
    "ax": true,
    "React": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "max-len": [1, 120, 2, {
      "ignoreComments": true
    }],
    "no-alert": 0,
    "no-console": 0,
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
   "react-in-jsx-scope": 0,
   "brace-style": [2, "1tbs"],
   "comma-style": 2,
   "eol-last": 0,
   "jsx-quotes": [2, "prefer-single"],
   "no-else-return": 2,
   "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
   "no-multi-spaces": 0,
   "no-throw-literal": 2,
   "no-underscore-dangle": 0,
   "react/jsx-boolean-value": 2,
   "react/jsx-curly-spacing": 2,
   "react/prop-types": 1,
   "react/jsx-indent": [2, 2],
   "react/jsx-indent-props": [2, 2],
   "react/jsx-no-bind": 2,
   "react/jsx-no-duplicate-props": 2,
   "react/jsx-no-undef": 2,
   "react/jsx-uses-react": 2,
   "react/jsx-uses-vars": 2,
   "react/no-danger": 2,
   "react/no-did-mount-set-state": 2,
   "react/no-did-update-set-state": 2,
   "react/no-direct-mutation-state": 2,
   "react/no-multi-comp": 2,
   "react/no-unknown-property": 2,
   "react/react-in-jsx-scope": 2,
   "react/self-closing-comp": 2,
   "react/jsx-wrap-multilines": 2,
   "strict": [2, "global"]
  },
  "plugins": [
    "react"
  ]
}